@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root{
    /* CSS HEX */
    --rich-black-fogra-29: #031926ff;
    --metallic-seaweed: #468189ff;
    --green-sheen: #77aca2ff;
    --opal: #9dbebbff;
    --champagne: #f4e9cdff;
}


html,body{
    margin: 0;
    background-color: var(--opal);
    font-family: 'Special Elite', cursive;
    height: 80vh;
    color:var(--dark-byzantium)
}

body>p{
    color: #000;
}
nav{
    width: 100%;
    background-color: var(--rich-black-fogra-29);
    color: var(--champagne);
    text-align: center ;
    width: 100%;
    font-size: xx-large;
    position: absolute;
    top: 0%;
}

.main-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    background-color: var(--laurel-green);
    height: 100%;
    max-height: 100%;
    margin:4rem auto  0 4rem;

}
button{
    margin: 3rem;
    height: 2rem;
    font-family:'Special Elite', cursive ;
    background-color: #DAB558;
}

.input-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.input-container>img
{
    width: 166.8px;
    height: 166.8px;
    margin:2rem
}

.output-container
{
    display: flex;
    flex-direction: column;
    background-color: var(--metallic-seaweed);
    padding: 3rem;
    
}



textarea{
    background:var(--green-sheen);
    font-size: 1rem;
    width: 500px;
    height: 6rem;
}

footer>ul
{
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}

.footer-link>li>a
{
    text-decoration: none;
}

/* 
@media only screen and (max-width: 700px) 
{
    nav 
    {
        width: 100%;
    }
    .main-container
    {
        flex-direction: column;
        width: 80vw; 
        margin: 0;   
    }

    textarea
    {
        height: 3rem;
        margin: ;
    }
} */